# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science
* List commonly used libraries by Data Scientists
* Provide an example of a simple arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Scikit
2. NumPy
3. SciPy
4. Matplotlib
5. Seaborn

|List of Data Science Tools|
|--------------------------|
|    Jupyter Notebook      |
|    Jupyter Lab           |
|    RStudio               |
|    VSCode                |
|    Orange                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
a=200/60
a

3.3333333333333335

## Author: 
Evangelos Kremmydas